.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-bounce {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    animation: rubberBand 1s;
    color: #FB4E4E;
}

.text-no-bounce {
    min-width: 10px;
    display: inline-block;
}

@for $i from 1 through 100 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 15}s;
    }
}
